python-telegram-bot==20.0
Pillow==11.1.0
imageio==2.21.2
pyproject.toml==0.1.0
python_dotenv==1.0.1
matplotlib==3.9.4
IPython==8.18.1
pytest==8.3.4
pytest-asyncio==0.25.2
opencv-python==4.11.0.86
